#Register {
    // Default Styles -----
    position: relative;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    // Default Styles -----

    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}